*
{padding:0;
margin:0;
}
.content
{
width:100%;

margin:0;
padding:0;
flex-direction:row;
flex-wrap:wrap;
display:flex;
}
.divvi
{width:250px;
height:400px;
background-color:white;
margin-top:10%;
margin-left:70px;
position:relative;
border:solid 2px rgb(214,214,214)
}
.image
{
width:100%;
height:70%;
position:absolute;
left:0px;
top:0;

}
img
{width:100%;
}
.text
{
width:100%;
height:40%;
background-color:rgb(244,244,244);
position:absolute;
left:0px;
top:250px;

}
.name
{font-weight:bold;
font-size:25px;
color:black;
text-align:center;
padding:5px;
}
p
{text-align:center;
}
.para
{font-size:15px;
text-align:justify;
padding:10px;
}
@media(max-width:430px)
{
.divvi
{
flex-direction:column;
align-item:baseline;
}


}